{% extends 'index.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Sign Up{% endblock %}
{% block meta_description %}Sing Up{% endblock %}

{% block body %}


<div class="modal fade" id="modalRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">

    <!--Content-->
    <div class="modal-content">

    <!--Modal cascading tabs-->
   <div class="modal-c-tabs">

       <!-- Nav tabs -->

       <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist" id="myTab">
           <li class="nav-item">
            <a class="nav-link text-white" href="{{url_for('users.login_user')}}" role="tab"><i class="fas fa-user mr-1"></i>
              Login</a>
          </li>
        <li class="nav-item">
            <a class="nav-link active" role="tab"><i class="fas fa-user-plus mr-1"></i>
              Register</a>
          </li>
        </ul>

       <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
            {% call f.form_tag('users.signup', fid='modalRForm') %}
          <div class="container tab-pane active" id="panel7" role="tabpanel">

            <!--Body-->
            <div class="modal-body mb-1">

            <div class="md-form form-sm mb-5">
                <i class="fas fa-user prefix grey-text"></i>
                  <input type="text" id="nameR" name="name" class="form-control form-control-sm validate" required>
                <label data-error="wrong" data-success="right" for="nameR">Your name</label>
              </div>

                <div class="md-form form-sm mb-5">
                <i class="fas fa-building prefix grey-text"></i>
                  <input type="text" id="company" name="company" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="company">Your company name</label>
              </div>


              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix grey-text"></i>
                  <input type="email" id="email" name="email" class="form-control form-control-sm validate" required>
                <label data-error="wrong" data-success="right" for="email">Your email</label>
              </div>

                <div class="md-form form-sm mb-4">
                <i class="fas fa-lock prefix grey-text"></i>
                    <input type="password" id="password" name="password" class="form-control form-control-sm validate" required>
                <label data-error="wrong" data-success="right" for="password">Your password</label>
              </div>

                <div class="text-center form-sm mt-2">
                <button class="btn btn-info" type="submit">Sign Up </button>
              </div>

            </div>

              <!--Footer-->
            <div class="modal-footer">
              <div class="options test-right">
                  <p class="pt-1">Already have an account? <a href="{{url_for('users.login_user')}}" class="blue-text">Log In</a></p>
              </div>
              <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
            </div>

              </div>
          <!--/.Panel 7-->
            {% endcall %}

        </div>

       </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<script>
    $(document).ready(function(){
        $("#modalRForm").modal('show');
    });
</script>

{% endblock %}
